.text_layout {
  /* 
    中文内容页面行内对齐优化，不是绝对的适用，视文本内容情况使用（主要就是英文字符和阿拉伯数字字符的影响）
    仅对中文字符内容有效，可以有英文字符和阿拉伯数字字符
    对纯英文字符和阿拉伯数字字符无效
  */
  text-justify: inter-ideograph; /* 无该属性，在字数不足以撑满一行时，也会依据剩余空间进行均匀分布。这明显不符合段落文字排版 */
  text-align: justify;

  /* 文本首行缩进 2 字符： */
  text-indent: 2em;

  /* 
    条码
    两端对齐，均匀分布
  */
  .barcode {
    text-align: justify;
    margin: 0 auto;
  }
  .barcode::after {
    display: inline-block;
    content: '';
    width: 100%;
  }
}
